.containerNormal {
    width: 212px;
}

.description {
    font-family: "Lexend-Regular";
    font-size: 14px;
    color: rgba(29, 39, 52, 0.6);
    text-align: left;
}

.sellingPriceContainer {
    text-align: left;
    font-size: 24px;
    font-family: "Lexend-SemiBold";
}

.sellingPrice {
    text-align: left;
    font-size: 24px;
    font-family: "Lexend-SemiBold";
}

.listPriceContainer{
    text-align: left;
    font-family: "Lexend-Regular";
    font-size: 14px;
    color: rgba(29, 39, 52, 0.4);
}

.nameContainer {
    font-family: "Lexend-Regular";
    font-size: 14px;
    color: rgba(29, 39, 52, 0.6);
    text-align: left;
}

.productBrand {
    font-family: "Lexend-Regular";
    font-size: 14px;
    color: rgba(29, 39, 52, 0.6);
    text-align: left;
}
