.caretIcon {
    margin: -7.8px;
    max-width: none;
    width: 20px;
    height: 14px;
}

.paginationDotsContainer{
    bottom: -44px;
    overflow-x: auto;
}

.paginationDot {
    width: 44px !important;
    height: 40px !important;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    min-width: 44px;
}

.paginationDot::after {
    background-color: rgba(29, 39, 52, .4);
}

.paginationDot--isActive::before {
    content: "";
    position: absolute;
    right: -8px;
    width: 16px;
    height: 16px;
    background-color: #1d2734;
    border-radius: 50%;
}

.paginationDot::after {
    width: 44px;
    height: 2px;
    content: "";
    font-size: 0;
    background-color: #1d2734;
    position: absolute;
}

.slideChildrenContainer--product-list {
    padding-right: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
}


.sliderLayoutContainer--product-list {
    width: 1092px;
    height: 378px;
}

@media screen and (min-width: 1024px){
    .sliderLayoutContainer--slider-info-card{
        padding: 0 30px;
    }
}





