.flexRow--hero--phone :global(.vtex-store-components-3-x-container ) {
    padding: 0;
}

.flexRow--hero--phone {
    max-width: none;
    margin: auto;
    width: 100%;
}

.flexRowContent--menu__logo--login {
    display: inline-flex;
    margin: 0;
}

.flexRowContent--mobile__row--container {
    align-items: center;
    display: flex;
}