.paragraph--empty-state-one {
    font-family: "Lexend-SemiBold";
    font-size: 14px;
    color: rgba(29, 39, 52, 1);
    padding-bottom: 4px;
}

.paragraph--empty-state-two {
    font-family: "Lexend-Light";
    font-size: 12px;
    color: rgba(29, 39, 52, 1);
    margin-bottom: 200px;
}